.App {
  text-align: center;
}
h1{
	font-size: 3.2em;
}
h2{
	font-size: 1.65em;
}
.navbaar-fixed{
	background-color: #222;
  	height: 175px;
  	padding: 20px;
  	color: white;
}

.pArea1{
  float: left;
  width: 15%;
}
.pArea2{
  float: right;
  width: 15%;
}
.board {
  display: inline-flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.square {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 5px solid black;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  cursor: pointer;
  background-color: #ff8c00;
}